<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Facultad de Ciencias Fisico Matematicas</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title>Acerca</ion-title>
    <ion-list> 
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>FCFM</ion-card-subtitle>
          <ion-card-title>Mensaje del Director</ion-card-title>
          <ion-img src="assets/atilano.jpg"></ion-img>
        </ion-card-header>
      
        <ion-card-content>
          Es mi compromiso seguir contribuyendo en el crecimiento de la Facultad de Ciencias Físico Matemáticas, en un ambiente de respeto y responsabilidad; encabezando una gestión innovadora, dialogante, abierta a las ideas, eficiente y comprometida con la educación de calidad que merecen nuestros Estudiantes y la sociedad a la que nos debemos.
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>FCFM</ion-card-subtitle>
          <ion-card-title>Misíon</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Formar profesionales en las Ciencias Físicas, Matemáticas y Computacionales, en sus modalidades pura y aplicada; con sentido humanista, creativos e innovadores; capaces de generar, difundir y aplicar el conocimiento para responder a las demandas del desarrollo científico, tecnológico, económico y social de la región y del país en el contexto internacional.
        </ion-card-content>
      </ion-card>
    
    
      <ion-card>
        <ion-toolbar>
          <ion-title size="large">Contáctanos</ion-title>
        </ion-toolbar> 
     
        
        <ion-item href="https://www.facebook.com/FCFM.UANL" class="ion-activated">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          <ion-label>Facebook</ion-label>
        </ion-item>
      
        <ion-item href="https://twitter.com/fcfmuanl?lang=es">
          <ion-icon name="logo-twitter" slot="start"></ion-icon>
          <ion-label>Twitter</ion-label>
        </ion-item>
      
        <ion-item class="ion-activated">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>E-Mail</ion-label>
        </ion-item>
    
        <ion-item class="ion-activated">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>TEL. 81 83 29 40 30</ion-label>
        </ion-item>
      
    
      </ion-card>
    
      
    
    </ion-list>
    
   
</ion-content>