<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Facultad de Ciencias Fisico Matematicas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-title>Noticias</ion-title>
    <ion-grid>
      <ion-row size='12'>
        <ion-col size='12'>
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title>Torneo U-League</ion-card-title>
            <ion-card-subtitle>6 de Junio 2020</ion-card-subtitle>
            <ion-img src="assets/Noticia3.jpeg"> </ion-img>
          </ion-card-header>
            <ion-card-content>
              La Direccion de Actividades Estudiantiles de la Universidad Autonoma de Nuevo Leon 
              llevara a cabo un torneodel conocido videojuego Fifa 20 en donde representantes 
              de varias facultades participaran en una fase de eliminatoria con el fin de promover
              la dicha popular #QuedateEnCasa y emplear el deporte de manera remota
            </ion-card-content>
          </ion-card>
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title>Torneo Bisonte-Smash</ion-card-title>
            <ion-card-subtitle>31 de Mayo 2020</ion-card-subtitle>
            <ion-img src="assets/Noticia1.jpeg"> </ion-img>
          </ion-card-header>
            <ion-card-content>
              El torneo se llevara a cabo entre intregantes de la facultad 
              que cuenten con el registro previo via correo universitario
              y cuenten con una consola Nintendo Switch con el juego 
              Super Smash Bros Ultimate <br>
              La hora de el torneo sera definida 
              enlos proximos dias favor de estaratentos a el correo 
              universitario con el que se registraron y para seguir el
              torneo se transmitira via Facebook un video 
              en directo comentado.
            </ion-card-content>
          </ion-card>
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Consejos para tus Clases en Linea</ion-card-title>
                <ion-card-subtitle>25 de Mayo 2020</ion-card-subtitle>
              <ion-img src="assets/Noticia2.jpeg"> </ion-img>
            </ion-card-header>
            <ion-card-content>
              * Intenta tener una conexion a internet estable<br>
              * Siempre ten mas de una manera de comunicarte con tu profesor<br>
              * Si hay grabaciones siempre es recomendable echarles un ojo<br>
              * Apoyate de la bibliografia y compañeros en caso de
              tener dificultad con los temas 
            </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
